// COLORS
$color-primary: #58C1D3;
$color-primary-light:#58d1d3;
$color-primary-dark: #589cd3;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-news-one-light: rgba(149, 255, 255, 0.2);
$color-news-one-dark: rgba(0, 154, 157, 0.2);
$color-news-two-light: rgba(255, 233, 244, 0.5);
$color-news-two-dark: rgba(255, 156, 206, 0.5);
$color-news-three-light: rgba(193, 197, 137, 0.5);
$color-news-three-dark: rgba(189, 197, 78, 0.5);

$color-news-one-bg: rgba(88, 209, 211, 1);
$color-news-two-bg: rgba(255, 156, 206, 1);
$color-news-three-bg: rgba(193, 197, 137, 1);


// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;